@import '../../../styles/main.scss';

.portfolioContainer {
  display: flex;
  flex-direction: column;

  .portfolioRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
