.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
	background: #5C6BC0;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
  background-color: #5C6BC0;
  border-color: #5C6BC0;
}

.navbar-custom {
	background-color: #283593;
}

.navbar-custom .navbar-nav li a:hover {
  color: #F06292;
  outline: 0;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
  background: #283593;
  color: #F06292;
}

header {
	background: url('../img/background.jpg') fixed;
}

.hidden-links {
	border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  position: absolute;
}

h1 {
	font-size: 1em;
}

h2 {
	padding-bottom: 40px;
}

.professional-position {
	font-size: 2em;
	padding-bottom: 0;
}

.profile-pic {
	display: inline;
	margin-bottom: 20px;
}

.skills {
  word-spacing: 5px;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.contact {
  padding-bottom: 20px;
}

.contact-message {
  padding-bottom: 10px;
}

section.success {
	background: #5C6BC0;
}

#portfolio .portfolio-item .portfolio-link .caption {
	background: rgba(92, 107, 192, .9);
}

.btn-success {
	background-color: #3949AB;
	border-color: #3949AB;
}

.btn-success:hover, 
.btn-success:target, 
.btn-success:active, 
.btn-success:focus, 
.btn-success.disabled {
	background-color: #283593 !important;
	border-color: #283593 !important;
}

.btn-social:hover, 
.btn-social:focus {
	color: #283593;
}

.btn-outline:hover, 
.btn-outline:focus {
	color: #F06292;
}

.greeting {
	font-size: 2em;
	font-weight: bold;
}

a,
a.active, 
a:active, 
a:focus, 
a:hover {
	color: #F06292;
}

.btn-social {
  font-size: 1.8em;
}

footer .footer-above {
	background-color: #3949AB;
}

footer .footer-below {
	background-color: #283593;
}

.floating-label-form-group-with-value label,
.floating-label-form-group-with-focus label {
	color: #3949AB;
}

/*Responsive queries*/
@media screen and (max-width: 767px) {
	h1 {
		font-size: 1.2em;
	}
	.professional-position {
		font-size: 1.3em;
	}
}

@media screen and (min-width: 1200px) {
  .skills-heading {
      padding-top: 80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 
    .about-description {
      text-align: center;
    }
}