@import '../../styles/main.scss';

.portfolioDetailContainer {
  margin: 40px 0;
  width: 45%;

  .portfolioDetailRow {
    display: flex;
    align-items: baseline;
  }

  .portfolioDetailCol {
    width: 100%;
  }

  @media #{$medium-device-query} {
    width: 100%;
  }
}
