@import '../../styles/main.scss';

.portfolioContainer {
  display: flex;
  flex-direction: column;

  .portfolioRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolioItem {
    margin-bottom: 40px;
    width: 45%;
  }

  @media #{$small-device-query} {
    .portfolioItem {
      width: 100%;
    }
  }
}
