// media queries
$small-device-query: screen and (max-width: 576px);
$medium-device-query: screen and (max-width: 768px);
$large-device-query: screen and (max-width: 992px);
$extra-large-device-query: screen and (max-width: 1200px);

// colors
$color-text: #fff;
$color-text-light: #444;
$color-green: #00AC7E;
$color-green-highlighted: #00c18d;
$color-background: #1C1A27;

// fonts
$hind: 'Hind', 'Corbel', 'Segoe UI', 'Avenir', sans‑serif;
$open-sans: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
