.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 60px;
}



@media screen and (max-width: 768px) {
  .layoutContainer {
    padding: 0 30px;
  }
}
