@import '../../styles/main.scss';

.aboutContainer {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  .aboutRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 40px;
  }

  .aboutHeading,
  .aboutContent {
    width: 45%;
  }

  .aboutHeading {
    margin: 0;
    margin-bottom: 10px;
    font-family: $hind;
  }

  .aboutContent {
    font-family: $open-sans;
    line-height: 1.5em;
  }

  .experienceHeading {
    display: flex;
    justify-content: space-between;
    font-family: $hind;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .developmentHeading {
    margin-top: 0;
    margin-bottom: 10px;
  }

  @media #{$medium-device-query} {
    .experienceHeading {
      flex-flow: column;
    }
  }

  @media #{$small-device-query} {
    .aboutRow {
      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    .aboutHeading,
    .aboutContent {
      width: 100%;
    }
  }
}
