@import '../../styles/main.scss';

.aboutContainer {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 40px;

  .aboutRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 40px;
  }

  .aboutHeading,
  .aboutContent {
    width: 100%;
  }

  .aboutHeading {
    margin: 0;
    margin-bottom: 10px;
    font-family: $hind;
    font-size: 1.5em;
  }

  .experienceHeading {
    @extend .aboutHeading;
    margin-bottom: -10px;
  }

  .aboutContent {
    font-family: $open-sans;
    line-height: 1.5em;
  }

  .firstRow {
    font-family: $hind;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .secondRow {
    margin-bottom: 20px;
  }

  .experiencesWrapper {
    h4:first-of-type {
      margin-top: 0;
    }
  }

  .developmentHeading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
  }

  .designHeading {
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  @media #{$medium-device-query} {
    .aboutHeading,
    .aboutContent {
      width: 100%;
    }
  }

  @media #{$small-device-query} {
    .aboutRow {
      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }

  @media #{$extra-small-device-query} {
    .experienceHeading {
      flex-flow: column;
    }
  }
}
