@import '../../styles/main.scss';

.contactContainer {
  width: 45%;
  padding-top: 10px;
  padding-bottom: 40px;

  .contactRow {
    .contactInput {
      padding: 10px;
      font-family: $open-sans;
      color: $color-text-light;
      border: 0;
      width: calc(100% - 20px);
      margin-bottom: 20px;

      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 10px $color-blue;
      }
    }

    .contactMessageTextArea {
      padding: 10px;
      min-height: 150px;
      margin-bottom: 20px;
      border: 0;
      width: calc(100% - 20px);
      font-family: $open-sans;
      color: $color-text-light;
      resize: vertical;

      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 10px $color-blue;
      }
    }
  }

  @media #{$medium-device-query} {
    width: 100%;
  }
}
