@import '../../styles/main.scss';

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;

  .navContainer {
    display: flex;
  }

  .navLink {
    margin-left: 20px;
    padding-bottom: 0.5em;
    color: #fff;
    text-decoration: none;
    font-family: $hind;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #00AC7E;
      border-bottom-color: #00AC7E;
      transition: all 0.1s ease-in;
    }
  }

  @media #{$small-device-query} {
    justify-content: center;

    .navLink {
      font-size: 1.05em;
    }
  }
}
