@import '../../styles/main.scss';

.nav {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-bottom: 40px;

  .navContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .navLink {
    margin-left: 20px;
    padding-bottom: 0.5em;
    color: $color-text;
    text-decoration: none;
    font-family: $hind;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: $color-green;
      border-bottom-color: $color-green;
      transition: all 0.1s ease-in;
    }
  }

  @media #{$small-device-query} {
    margin-bottom: 10px;
    justify-content: center;

    .navLink {
      margin-left: 10px;
      font-size: 1.05em;
    }
  }

  @media #{$extra-small-device-query} {
    .navLink {
      font-size: 0.85em;
    }
  }
}
