@import '../../styles/main.scss';

.nav {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-bottom: 20px;

  .navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navLink {
    margin-left: 20px;
    padding-bottom: 0.2em;
    color: $color-text;
    opacity: 0.6;
    text-decoration: none;
    font-family: $hind;
    font-weight: 600;
    font-size: 1.35em;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      border-bottom-color: $color-green-highlighted;
      opacity: 1;
      transition: all 0.1s ease-in;
    }
  }

  @media #{$small-device-query} {
    margin-bottom: 0;
    min-height: 60px;
    justify-content: center;

    .navLink {
      margin-left: 10px;
      font-size: 1.15em;
    }
  }
}
